<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.CheckCustomerMapper">

    <resultMap id="registerMapper" type="register">
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="score" column="score"/>
    </resultMap>

<!--    查询所有入住房客信息： -->
<!--    订单号 / 身份证号 / 姓名 / 性别 / 房间号 / 房间类型 / 手机号 / 订单状态 / 入住时间 / 离开时间 / 订单细节-->
    <select id="findAllRegisters" resultMap="Mapper">
        select*   from 'regi'
    </select>


<!--    更新入住房客信息-->
    <update id="updateCheckCustomer" parameterType="checkCusExtOrder">
        update `check_customer` c, `order` o ,`customer_order` co
        set c.customerID = #{customerId},
            c.name = #{name},
            c.gender = #{gender},
            c.phone = #{phone},
            co.checkInTime = #{checkInTime},
            co.leaveTime = #{leaveTime},
            co.roomID = #{roomId},
            o.orderStatus = #{orderStatus}
         where o.orderID = co.orderID and co.customerID = c.customerID
    </update>
</mapper>
