<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.OrderMapper">

    <resultMap id="orderMapper" type="order">
        <id property="orderId" column="orderID"/>
        <result property="roomType" column="roomType"/>
        <result property="orderTime" column="orderTime"/>
        <result property="checkInTime" column="checkInTime"/>
        <result property="leaveTime" column="leaveTime"/>
        <result property="orderDetail" column="orderDetail"/>
        <result property="orderStatus" column="orderStatus"/>
        <association property="register" javaType="register">
            <id property="phone" column="phone"/>
        </association>
    </resultMap>

    <resultMap id="orderExtRegMapper" type="orderExtReg" extends="orderMapper">
        <result property="account" column="account"/>
        <result property="gender" column="gender"/>
        <result property="email" column="email"/>
    </resultMap>

<!--    查询所有订单-->
    <select id="findAllOrders" resultMap="orderExtRegMapper">
        select
            orderID,
            account,
            gender,
            roomType,
            email,
            o.phone,
            orderStatus,
            checkInTime,
            leaveTime,
            orderDetail
        from `order` o ,`register` r
        where o.phone = r.phone
    </select>

<!--    通过订单号单条件搜索订单-->
    <select id="findOrderById" parameterType="int" resultType="order">
        select *
        from `order`
        where orderID = #{orderId}
    </select>

<!--    通过订单号或手机号查询订单-->
    <select id="findByMultiConditions" resultMap="orderExtRegMapper">
        select
            orderID,
            account,
            gender,
            roomType,
            email,
            o.phone,
            orderStatus,
            checkInTime,
            leaveTime,
            orderDetail
        from `order` o ,`register` r
        <where>
            <if test="orderId != null and orderId != ''">
                and orderId = #{orderId}
            </if>
            <if test="phone != null and phone != ''">
                and o.phone = #{phone}
            </if>
            and o.phone = r.phone
        </where>
    </select>

<!--    更新订单-->
    <update id="updateOrder" parameterType="order">
        update `order`
        set
            checkInTime = #{checkInTime},
            leaveTime = #{leaveTime},
            roomType = #{roomType},
            orderDetail = #{orderDetail}
        where orderID = #{orderId}
    </update>
</mapper>
