<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.RegisterMapper">

    <resultMap id="registerMapper" type="register">
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="level" column="level"/>
        <result property="score" column="score"/>
    </resultMap>

    <!--    查询所有注册用户信息： -->
    <!--    订单号 / 身份证号 / 姓名 / 性别 / 房间号 / 房间类型 / 手机号 / 订单状态 / 入住时间 / 离开时间 / 订单细节-->
    <select id="findAllRegisters" resultMap="registerMapper">
        select phone, account, password, gender, email, level, score
        from `register`
    </select>

    <!--    查询注册用户信息： -->
    <select id="findByPhone" parameterType="string" resultType="register">
        select *
        from `register`
        where phone=#{phone}
    </select>

    <!--    更新入住房客信息-->
    <update id="updateRegister" parameterType="register" >
        update `register`
        set
            account = #{account},
            password = #{password},
            gender = #{gender},
            email = #{email},
            score = #{score}
      where phone = #{phone}
    </update>

    <!--    按手机号/账号名  查询用户-->
    <select id="findByMultiConditions" resultMap="registerMapper" >
        select phone, account, password, gender, email, level, score
        from `register`
        <where>
            <if test="account != null and account != ''">
                and account= #{account}
            </if>
            <if test="phone != null and phone != ''">
                and phone= #{phone}
            </if>
        </where>
    </select>

</mapper>
