<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.RoomTypeMapper">

    <resultMap type="roomType" id="roomTypeMapper">
        <id column="roomType" property="roomType"/>
        <result column="checkInNum" property="checkInNum"/>
        <result column="roomPrice" property="roomPrice"/>
    </resultMap>

    <select id="findByRoomType" resultMap="roomTypeMapper" parameterType="String">
        select *
        from `room_type`
        where roomType=#{roomType}
    </select>

    <select id="findAllRoomTypes" resultMap="roomTypeMapper">
        select *
        from `room_type`
    </select>

    <update id="updateRoomType" parameterType="roomType">
        update `room_type`
        set checkInNum = #{checkInNum},
            roomPrice = #{roomPrice}
        where roomType= #{roomType}
    </update>

    <insert id="insertRoomType" parameterType="roomType">
        insert
        into `room_type`(roomType, checkInNum, roomPrice)
            value (#{roomType},#{checkInNum},#{roomPrice})
    </insert>

    <delete id="deleteRoomType" parameterType="roomType">
        delete from `room_type`
           where roomType = #{roomType}
    </delete>
</mapper>
