<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.RoomMapper">

    <select id="findByRoomID" resultType="room" parameterType="string">
        select *
        from `room`
        where roomID=#{roomID}
    </select>

    <select id="findAllRooms" resultType="room">
        select *
        from `room`
    </select>

    <update id="updateRoom" parameterType="room">
        update `room`
        set roomType = #{roomType.type},
            roomDetail = #{roomDetail},
            roomStatus = #{roomStatus}
        where roomID= #{roomID}
    </update>

    <insert id="insertRoom" parameterType="room">
        insert
        into `room`(roomID, roomType, roomDetail, roomStatus)
            value (#{roomID}, #{roomType.type},#{roomDetail},#{roomStatus})
    </insert>

    <delete id="deleteRoom" parameterType="room">
        delete from `room`
        where roomID = #{roomID}
    </delete>
</mapper>
