<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.RoomTypeMapper">

    <resultMap id="roomTypeMapper" type="roomType">
        <result property="type" column="type"/>
        <result property="checkInNum" column="checkInNum"/>
        <result property="roomPrice" column="roomPrice"/>
    </resultMap>

    <select id="findByRoomType" resultType="roomType" parameterType="string">
        select *
        from `room_type`
        where type=#{type}
    </select>

    <select id="findMaxCheckInNumByType" resultType="int" parameterType="string">
        select checkInNum
        from `room_type`
        where type = #{type}
    </select>

    <select id="findAllRoomTypes" resultMap="roomTypeMapper">
        select *
        from `room_type`
    </select>

    <update id="updateRoomType" parameterType="roomType">
        update `room_type`
        set checkInNum = #{checkInNum},
            roomPrice = #{roomPrice}
        where type= #{type}
    </update>

    <insert id="insertRoomType" parameterType="roomType">
        insert
        into `room_type`(type, checkInNum, roomPrice)
            value (#{type},#{checkInNum},#{roomPrice})
    </insert>

    <delete id="deleteRoomType" parameterType="roomType">
        delete from `room_type`
           where type = #{type}
    </delete>
</mapper>
