<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.WaiterMapper">

    <resultMap type="waiter" id="waiterMapper">
        <id column="waiterID" property="waiterId"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id="findById" resultMap="waiterMapper" parameterType="String">
        select *
        from `waiter`
        where waiterID=#{id}
    </select>
</mapper>
